html {
	background-color: #222222;
	color: #EEEEEE;
	font-family: 'Libre Franklin', sans-serif;
}

header {
	text-shadow: 0px 0px 30px #EA0;
}

.container {
	min-width: 520px;
	width: 60%;
	display: grid;
	justify-content: center;
	text-align: center;
	border: .3em solid #EA0;
	padding: .2em;
	margin: .5em auto;
}

footer {
	font-size: 8pt;
	color: #EA3;
}

input {
	color: #EA0;
	border: .1em solid #EA0;
	background-color: #222;
}

input:focus {
	box-shadow: 0px 0px 2px+.2em #EA0;
	border-color: #EA0;
}

input:active {
	background-color: #640;
}

form {
	margin: 15px;
}

div {
	padding: .3em;
}
