html {
	background-color: #222222;
	color: #EEEEEE;
	font-family: 'Libre Franklin', sans-serif;
}

header {
	text-shadow: 0px 0px 30px #EA0;
}

.container {
	min-width: 520px;
	width: 60%;
	display: grid;
	justify-content: center;
	text-align: center;
	border: .5vmin solid #EA0;
	padding: 1vmin;
	margin: 1vmin auto;
	background-color: #222222;
	transition: 0.3s;
}

footer {
	font-size: 8pt;
	color: #EA3;
}

input {
	color: #EA0;
	border: .1em solid #EA0;
	background-color: #222;
}

input:focus {
	box-shadow: 0px 0px 4px+.5vmin #EA0;
	border-color: #EA0;
}

input:active {
	background-color: #640;
}

form {
	padding: .5vmin;
}

div {
	padding: .5vmin;
}

canvas{
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}

#hideContainers {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#hideContainers:hover ~ .container {
	visibility: hidden;
}

#hideContainers:hover {
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	border: none;
	transition: 0.3s;
}
